body,
html {
    margin: 0px;
    width: 100%;
    height: 1000vh;
    background-color: #fce7ed;
    color: #ffffff ;
    font-size: 20px;
}

.container {
    background-color: #c295d8;
    width: 30%;
    margin: 3% auto;
    padding: 30px 50px;
    border-radius: 20px;
}



table {
    border-spacing: 0px 20px;
   text-align: center;
    margin: 0 auto;
    width: 60%
}
h2 {
    text-align: center;
}

input,
select {
    font-size: 18px;
    color: #c295d8;
}

input[type=submit] {
    padding: 10px;
    margin: 5% 40%;
    border-radius: 5px;
    font-weight: 700;
    cursor: pointer;
}

#display {
    font-size: 30px;
    text-align: center;
    display:none;
}

